dist/ZlmData/*
!dist/ZlmData/zlmOps.txt
!dist/ZlmData/zLayerUpdate.txt
src/zscripts
**/__pycache__
**.zsc
**/*.pyc
src/build
src/zlm.txt
zscripts
docs_build
docs/_sources
**.exe
build
zlm.txt
venv
layers.txt