alabaster==0.7.12
altgraph==0.16.1
Babel==2.9.1
certifi==2024.7.4
chardet==3.0.4
colorama==0.4.4
debugpy==1.5.1
docutils==0.17.1
flake8==4.0.1
future==0.18.3
idna==2.8
imagesize==1.2.0
importlib-metadata==4.2.0
Jinja2==3.0.2
macholib==1.11
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.0
pefile==2018.8.8
pep8==1.7.1
psutil==5.8.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.15.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.22.0
snowballstemmer==2.1.0
Sphinx==2.1.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==3.10.0.2
urllib3==1.26.5
zipp==3.6.0
