altgraph==0.16.1
future==0.17.1
macholib==1.11
pefile==2018.8.8
pep8==1.7.1
PyInstaller==3.4
PyQt5==5.12.1
PyQt5-sip==4.19.15
pywin32-ctypes==0.2.0
Sphinx==2.1.0
sphinx_rtd_theme==0.4.3
requests==2.22.0